*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$mainBlack: #222222;
$mainGreen: #82b340;
$mainWhite: #fff;
$mainGrey: #cfcaca;
$mainlighterGrey: #e2d8d8;
$mainTransition: all 0.3 linear;

body {
  font-family: 'Open Sans', sans-serif;
  background: $mainlighterGrey;
  color: $mainBlack;
}
